# 数据集，大小超限，可访问https://data.matr.io/1/projects/5c48dd2bc625d700019f3204下载
# data/batch3.pkl
data/raw_data
data/124_commercial_batteries

# 训练好的模型未分类，暂不上传
checkpoints/*.pth
checkpoints/

# 不上传 Desktop Service Store 文件
.DS_Store

# 不上传thesis目录下的.obsidian目录
thesis/.obsidian

# 不上传模块下的cache
utils/__pycache__

# 不上传字体
utils/STSong.ttf